@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto+Slab&display=swap');
:root {
    --R-black: #292626;
    --R-red:#CF3A2B;
    --R-blue: #3F7EDA;
    --R-yellow: #D5C64A;
    --R-violet: #B064CC;
}

body {
    font-family:'Roboto Slab', serif;
    color: var(--R-red);
    background-color: var(--R-black);
}

p {
    font-size:1.3em;
}

header, h3 {
    font-size:1.5em;
    font-weight: bold;
}

#page-head {
    display:flex;
    flex: 2;
    background-color: var(--R-black);
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:space-between;
    padding:5em;
}

#navbar {
    display:flex;
    justify-content:space-between;
}

#navbar > a{
    text-decoration:none;
    color: var(--R-violet);
    margin-left:1em;
    margin-right:1em;
}

#navbar > a:hover {
    color:var(--R-yellow);
}


.section{
    display:flex;
    flex: auto;
}

.line-division {
    display:flex;
    flex-direction:row;
}

aside {
    margin-right:2em;
    margin-left:2em;
    padding:3em;
}

.sites {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.sites-titles {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}

.card {
    display:flex;
    height: 279px;
    width: 444px;
    margin: 1.5em;
    border-radius: 5px;
    border-color: var(--R-red);
    justify-content: space-between;
}

.double-card {
    display:flex;
    height:500px;
    width: 799px;
    margin:1.5em;
    border-radius:5px;
    justify-content: center;
    align-items: center;
    background-image: url(./gifs/ODETTE.gif);
    background-size: cover;
    background-position: center;
}
.double-card:hover {
    opacity:.8;
}

#latest-site {
    justify-content:center;
}

/* .sites-titles:nth-child(n+5)>header{
    justify-content:flex-start;
}

.sites-titles:nth-child(4n+5)>header{
    justify-content:flex-end;
} */

#site-1 {
    background-image: url(./gifs/ubeauty.gif);
    background-size:cover;
    background-position: center;
    justify-content: flex;
}

#site-2{
    background-image:url(./gifs/nomade.gif);
    background-size:cover;
    background-position: center;
    justify-content: flex-end;
    align-items:flex-end;
}

#site-3 {
    background-image: url(./gifs/anac.gif);
    background-size:cover;
    background-position: center;
    justify-content: flex;
}

#site-4{
    background-image:url(./gifs/little-lies.gif);
    background-size:cover;
    background-position: center;
    justify-content: flex-end;
    align-items:flex-end;
}


#myPic {
    height:100px;
}

#work, #contact, #abt-me, #sites{
    display:flex;
    flex-direction: row;
    margin-top: 2em;
    margin-bottom: 2em;
}

#about-img {
    background-image: url(./gifs/aboutMePic.JPG);
    background-size:cover;
    background-position: center;
}

#about-info > p {
    display:flex;
    align-items: center;
    text-align: center;
}

.contact-info, .sites{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.half-card {
    padding:4em;
}

footer {
    display:flex;
    align-items: center;
    padding:2em;
    justify-content:space-around;
}

@media screen and (max-width:900px){
    body, section, .sites, .contact-info,
    .line-division, #work, #contact, #abt-me, 
    #sites{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .double-card{
        width:70vh;
        height:45vh;
    }
    nav {
        margin-top:8px;
    }
}